@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body, * {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
}

.page {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: -100vw;
    display: grid;
    place-items: center;
    transition: transform 0.5s ease-in-out;
    background-color: #fafafa;
    padding:4rem;
    text-align:center;
}

.page.show {
    left:0;
}

