/* Global styling */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 0;
    padding: 0; 
    background-color: #f0f0f0;
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 1rem;
}

.main-header {
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 1rem;
    font-weight: bold;
}

.top, .bottom {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 0 10px;
    position: relative;
}

.bottom {
    margin-bottom: 10px;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr;
    height: fit-content;
}

.controls{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    place-items:center;
}

#canvas-container {
    position: relative; 
    width: 100%;
    height: 100%;
    background-color: white;
    border-top: 1px solid #ccc;
    display: block; 
    overflow: hidden; 
}
