
@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap'); /* Comic Relief*/
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap'); /* navn: Bungee */
@import url('https://fonts.googleapis.com/css2?family=Ribeye&display=swap'); /* navn: Ribeye*/
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');body /* navn: Honk*/

{
    margin: 0;
    padding: 0;
    font-family: "Ribeye"
}

.menu-wrapper{
    position: fixed;
    width: fit-content;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
}
.burger-icon{
    position: fixed;
    left: 1rem;
    top: 1rem;
    cursor: pointer;
    font-size: 2rem;
    color: black;
    z-index: 3;
    transition: color 0.1s ease-in-out;
}
.menu-wrapper:has(.sidebar:hover) .burger-icon, .burger-icon:hover{
    color: rgb(255,194,205);
    transition: color 0.1s ease-in-out;
}
.sidebar{
    position: relative;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    min-width: 15rem;
    background-color: rgb(255, 8, 74);
    color: rgb(255,194,205);
    padding: 4rem 1rem;
    box-sizing: border-box;
    transition: 0.2s ease-in-out all;
}
.burger-icon:hover + .sidebar, .sidebar:hover{
    left: 0;
    transition: 0.3s ease-in-out all;
    box-shadow: 0 0 100px 0 rgb(44, 47, 51);
}
.sidebar a{
    cursor: pointer;
    font-size: 2rem;
    display: block;
    text-decoration: none;
    color: rgb(255,194,205);
    margin: 1.2rem 0;
    opacity: 0.6;
    transition: opacity 0.1s ease-in-out;
    transition: all 0.1s ease-out;
}
.sidebar a:hover{
    opacity: 1;
    transform: translateX(0.5rem);
    font-size: 2.5rem;
    filter: drop-shadow(0 0 10px 0 rgb(145, 145, 145));
}


.page {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* grid layout */
    display: grid;
    place-items: center;
    /* vises først med klasen "show" */
    position: fixed;
    left: -100vw;
    transition: all .6s ease-in-out;
}

.show {
    left: 0;
}

/*all div's inside pages are here*/
.page div {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;

}

h1 {
    font-weight: 300;
    font-size: 3rem;

}

#page1{
    background-image: url(./assets/forest.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.scroll{
    min-height:100%;    
    overflow:scroll;
    padding:20rem;
    gap:2rem;
}

.box{
    max-width:30vw;
    min-height:40rem;
    grid-template-rows: 1fr 8fr;
    background-color: rgba(0,0,0,0.6);
    border-radius: 1rem;
    padding:2rem;
}

.box .top{
    background-color: black;
    color:white;
    border-radius: 1rem;
    font-size:2rem;
}

.box .bottom{
    color:white;
}

#page2{
    overflow-y: scroll;
}

.parallax{
    min-height:100vh;
    background-attachment: fixed;
    background-size:cover;
    color: rgb(239, 239, 239);
}

.background1{
    background-image: url('./assets/bird.jpg');
}
.background2{
    background-image: url('./assets/forest.jpg');
}

#page3 img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*

            <a id="menu-side1" action="#page1">Deals!</a>
            <a id="menu-side2" action="#page2">Menu</a>
            <a id="menu-side3" action="#page3">Offers</a>
            <a id="menu-side4" action="#page4">About us</a>
            <a id="menu-side5" action="#page5">Among us</a>
            <a id="menu-side6" action="#page6">Actual menu page</a>
*/

/* TABELLER OG ANDET SHII*/

/*
.usynligtabel
{
    padding: 25px;
}
.tabelFrugt
{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 700px;

    td, th
    {
        font-size: 15px;
        border: 3px solid #000000;
        padding: 8px;
        text-align: center;
    }
    th
    {
        font-size: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #b74bbf;
        color: white;
}
}


<table class="usynligtabel">
    <tr>
        <td></td>
    </tr>
<table class="tabelFrugt" align="center">
    <tr>
        <th>Frugt</th>
        <th>Slags</th>
        <th>Farve</th>
    </tr>
    <tr>
        <td>Pomelo</td>
        <td>Syrlig-grøn</td>
        <td>Citrus</td>
    </tr>
    <tr>
        <td>Æble</td>
        <td>Rød</td>
        <td>Kernefrugt</td>
    </tr>
</table>
*/