
@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap'); /* Comic Relief*/
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap'); /* navn: Bungee */
@import url('https://fonts.googleapis.com/css2?family=Ribeye&display=swap'); /* navn: Ribeye*/
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');body /* navn: Honk*/

{
    margin: 0;
    padding: 0;
    font-family: "Bungee";
}

ul.a{
    color: rgb(0, 0, 0); /* text-farve*/
    font-weight: 200;
    font-size: 1.5rem;
}

h2{
    color: rgb(0, 0, 0); /* text-farve*/
    font-weight: 200;
    font-size: 1.2rem;
}

h3{
    color: rgb(0, 0, 0); /* text-farve*/
    font-weight: 300;
    font-size: 3rem;
}
h4{
    text-align: center;
    color: rgb(255, 255, 255); /* text-farve*/
    font-weight: 300;
    font-size: 3rem;
}
ul li{
    font-size: 8px;
}

.menu-wrapper{
    position: fixed;
    width: fit-content;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
}
.burger-icon{
    position: fixed;
    left: 1rem;
    top: 1rem;
    cursor: pointer;
    font-size: 2rem;
    color: black;
    z-index: 3;
    transition: color 0.1s ease-in-out;
}
.menu-wrapper:has(.sidebar:hover) .burger-icon, .burger-icon:hover{
    color: rgb(255,194,205);
    transition: color 0.1s ease-in-out;
}
.sidebar{
    position: relative;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    min-width: 15rem;
    background-color: rgb(255, 8, 74);
    color: rgb(255,194,205);
    padding: 4rem 1rem;
    box-sizing: border-box;
    transition: 0.2s ease-in-out all;
}
.burger-icon:hover + .sidebar, .sidebar:hover{
    left: 0;
    transition: 0.3s ease-in-out all;
    box-shadow: 0 0 100px 0 rgb(44, 47, 51);
}
.sidebar a{
    font-size: 2rem;
    display: block;
    text-decoration: none;
    color: rgb(255,194,205);
    margin: 1.2rem 0;
    opacity: 0.6;
    transition: opacity 0.1s ease-in-out;
    transition: all 0.1s ease-out;
}
.sidebar a:hover{
    opacity: 1;
    transform: translateX(0.5rem);
    font-size: 2.5rem;
    filter: drop-shadow(0 0 10px 0 rgb(145, 145, 145));
}


.page{
    width: 100vw;
    height: 100vh;
    /*border: 0.3rem solid black;*/
    overflow: hidden;
    display: grid; /* grid layout */
    place-items: center;
    position:fixed; /* position fixed - klassen "show" viser pages */
    left:-100vw;
    transition: 1s ease-in-out all;
}

.show{
    left: 0;
}

.page div{ /* all div's inside pages are treated as full wide grids */
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

/*FORSIDE*/

#page1{
    grid-template-columns: 1fr 1fr;
}
#page1 .left{
    grid-template-rows: 1fr 2fr;
    background-color: rgb(53, 55, 57);
}
#page1 .left .top{

    color: rgb(223, 223, 223)
}
#page1 .left .bottom{

    color: aliceblue;
    text-align: center;
    list-style-position: inside;
    background-color: rgb(53, 55, 57);
}

#page1 .right{
    background-color: rgb(53, 55, 57);
    color: rgb(223, 223, 223)
}
#page1 .right .box{
    height: 90%;
    width: 90%;
    display: grid;
    background-image: url(./assets/migogchopin.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    grid-template-rows: 1fr 1fr;
}

/*HVEM ER JEG*/

#page2{
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
    background-color: black;
}
#page2 .colum1{
    grid-template-rows: 1fr 4fr;
    background-color: rgb(255,194,205);
    text-align: center;
}
#page2 .colum1 .top{
    border: 4px solid black;
}
#page2 .colum2{
    grid-template-rows: 1fr 4fr;
    background-color: rgb(255,147,172);
    text-align: center;
}
#page2 .colum2 .top{
    border: 4px solid black;
}
#page2 .colum3{
    grid-template-rows: 1fr 4fr;
    background-color: rgb(255,98,137);
    text-align: left;
    list-style-position: inside;
}
#page2 .colum3 .top{
    border: 4px solid black;
}


/* GRID WITH VIDEO*/

#page3{
    grid-template-columns: 1fr 1fr;
}
#page3 .right{
    grid-template-rows: 1fr 1fr;
}
#page3 .left{
    /*background-color: rgb(66, 69, 73);*/
    background-image: url(./assets/mig\ kung\ fu\ sharpened.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}
#page3 .right .top{
    /*background-color: rgb(53, 55, 57);*/
}
#page3 .right .bottom{
    /*background-color: rgb(44, 47, 51);*/
}

/* BIG AHH MENU*/


#page4 .left{
    background-image: url(./assets/orangeBaggrund.png);
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-rows: 20fr 1fr 1fr 1fr 1fr;
}

