<!DOCTYPE html>
<html lang="da">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escape the basement</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
        integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="index.css">
    <script src="https://cdn.jsdelivr.net/npm/p5@1.11.10/lib/p5.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/11.6.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/11.6.0/firebase-firestore-compat.js"></script>
    <script src="./firebase.js"></script>
</head>

<body>
    <div id="timer">0 sek</div>

    <div id="inventory">
        <div class="box">   
            <img src="./assets/knife.png" id="invKnife" class="item">
        </div>

        <div class="box">
            <img src="./assets/crowbar.png" id="invCrowbar" class="item">
        </div>
    </div>
    
    <main>
        
        
        
        <!-- STARTSIDE -->
        <div class="page" id="start" title="Start">
            <div class="overlay">
                <button id="" class="leftBtn">Til forrige rum</button>
                <button id="" class="rightBtn">Til næste rum</button>
                
                <h1>Hent en bajer</h1>
                <p>Find vej ud af kælderen og gennem huset ved at løse gåder i hvert rum.
                    <br>Din tid tæller — jo hurtigere, jo bedre!
                </p>
                <button id="btn-start">Start spil</button>
                <div id="highscores">
                    <h2>High Scores</h2>
                    <ol id="score-list"></ol>
                </div>
            </div>
            <div id="room1-hint" class="startHint">Hint ses hernede i venstre hjørne!</div>
            <div id="tutorialInv">  <img src="./assets/tut_invPreview.png"> </div>
            <div id="tutorialHint">  <img src="./assets/tut_hintPreview.png"> </div>
            <div id="tutorialBtn1">  <img src="./assets/tut_btn1Preview.png"> </div>
            <div id="tutorialBtn2">  <img src="./assets/tut_btn2Preview.png"> </div>
        </div>
        


            <!-- RUM 1: KÆLDEREN -->
        <div class="page" id="room1" title="Kælderen">

            <button id="køkkenBtn1" class="rightBtn hidden">Til køkkenet</button>
            <div id="room1-hint" class="hint">Åben papkassen og få crowbar til at bryde døren op...</div>

            <div id="symbolDoor" class="hotspot">🚪</div>
            <div id="symbolDoorOpenBg" class="hidden">  <img src="./assets/door_closed.png">  </div>
            <div id="symbolDoorOpen" class="hidden">  <img src="./assets/door_open.png">  </div>
            <div id="woodenBox"></div>
            
        </div>
        <!-- RUM 1 V.2: KÆLDERDØREN -->
        <div class="page" id="room1Door" title="Kælderdøren">
            <div id="room1-hint" class="hint">Klik på låsene i den korrekte rækkefølge og derefter på håndtaget...<br>Tip: kig på størrelserne af låsene</div>
            <div id="kælderdør"></div>
            
            <!-- Klikbare låse -->
            <div id="lås1" class="hotspot">🔒</div>
            <div id="lås2" class="hotspot">🔒</div>
            <div id="lås3" class="hotspot">🔒</div>
        </div>
        



        <!-- KØKKENET-->
        <div class="page" id="room2" title="Køkkenet">

            <button id="kælderBtn2" class="leftBtn">Tilbage til kælderen</button>
            <button id="stueBtn2" class="rightBtn">Til stuen</button>
            
            <div id="room2-hint1" class="hint visible">Køleskabet er væk!!! Du må finde det så du kan få slukket tørsten...
            <br>Prøv at kig i stuen...</div>
            <div id="room2-hint2" class="hint hidden">Hvor mon et våben kan befinde sig..?<br>Prøv ovnen...</div>
            <div id="room2-hint3" class="hint hidden">Hurra, Du fandt våbenet..!<br>Nu kan du bekæmpe monsteret..?</div>

            <button id="ovnBtn">ovn btn</button>
            
            <!-- ROOM 2 INPUT CODE FIND KNIV -->
            <div id="room2-code" class="code-input">
                <p>Jeg er kold og jeg er skarp
                    <br>jeg ligger stille, uden larm og harp
                    <br>Jeg hjælper dig når mad skal skæres
                    <br>men kan også gøre, at du mærkes
                    <br>Hvad er jeg?</p>
                    
                    <input type="text" id="room2-answer" placeholder="Skriv svaret her...">
                    <button id="room2-submit">Tjek svar</button>
                    
                    <div id="room2-error" class="error"></div>
            </div>
        </div>
        
        
        
        
        <!-- ROOM 3 STUEN-->
        <div class="page" id="room3">
            <div id="room3-hint1" class="hint visible">Du fandt køleskabet!.. Men det er bevogtet af et monster...<br>Gå tilbage i køkkenet og prøv at led efter et våben...</div>
            <div id="room3-hint2" class="hint hidden">Du skal til at angribe monsteret da...<br>Det går op for dig at våbenet ikke er skarpt nok...<br>Gå til skuret og slib kniven...</div>
            <div id="room3-hint3" class="hint hidden">Din kniv er nu <i>knivskarp</i>, og du kan angribe monsteret...<br>Klik på monsteret for at angribe...</div>
            <div id="room3-hint4" class="hint hidden">Du forskrækker monsteret...<br>Monsteret bliver helt bleg af skræk og dør af hjertestop..!</div>
            
            <button id="køkkenBtn3" class="leftBtn">Til køkkenet</button>
            <button id="skurBtn3" class="rightBtn">Til skuret</button>
            
            <div id="monster">
                <div id="monsterDrinkSort" class="visible"></div>
                <div id="monsterDrinkHvid" class="hidden"></div>
                <div id="monsterDrinkCrushed" class="hidden"></div>
            </div>
            <div id="køleskab" class="visible"></div>
            <div id="køleskabÅben" class="hidden"></div>
        </div>
        
        
        <div class="page" id="room4">
            <div id="room4-hint1" class="hint visible">Tryk på slibestenen for at slibe din kniv...</div>
            <div id="room4-hint2" class="hint hidden">Pyha..! Nu er din kniv slibet, og du kan endelig bekæmpe monsteret og få dit køleskab tilbage...</div>
            
            <button id="stueBtn4" class="leftBtn">Til stuen</button>
            
            <div id="slibesten"></div>
            <button id="slibestenBtn">slibesten btn</button>

            <div id="slibestenGåde" class="hidden">
                <img src="./assets/knife.png" id="slibKniv">
                <div id="symbol1" class="hotspot">💥</div>
                <div id="symbol2" class="hotspot">💥</div>
                <div id="symbol3" class="hotspot">💥</div>
                <div id="symbol4" class="hotspot">💥</div>
            </div>
        </div>
        
        <div class="page" id="room5">
            <div id="room3-hint1" class="hint visible">MINIGAME..!<br>tryk på ti øl'er hurtigst muligt!</div>

            <p class="stats">Points: <span id="points-display"></span><br>
                Time left: <span id="time-display"></span></p>

            <div id="game-container"></div>
        </div>


        <!-- SLUTSIDE -->
        <div class="page" id="complete" title="Færdig">
            <div class="overlay">
                <h1>Du fik slukket tørsten!</h1>
                <p id="final-time"></p>
                <div id="save-score">
                    <input type="text" id="player-name" placeholder="Dit navn">
                    <button id="btn-save">Gem high score</button>
                </div>
                <button id="btn-restart">Spil igen</button>
            </div>
        </div>

    </main>
    <script src="./index.js"></script>
</body>

</html>
