
@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap'); /* Comic Relief*/
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap'); /* navn: Bungee */
@import url('https://fonts.googleapis.com/css2?family=Ribeye&display=swap'); /* navn: Ribeye*/
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap'); /* navn: Honk*/


@font-face {
    font-family: AndyBold;
    src: url(./fonts/AndyBold.OTF);
}

*{
    margin: 0;
    padding: 0;
    font-family: "AndyBold";
    font-size: 3vh;
}

h1{
    color: rgb(223, 223, 223); /* text-farve*/
    font-weight: 300;
    font-size: 3rem;
}
h2{
    color: rgb(223, 223, 223); /* text-farve*/
    font-size: 5rem;
    text-align: left;
}
h3{
    color: rgb(223, 223, 223); /* text-farve*/
    font-size: 7vh;
    text-align: left;
}

.menu-wrapper{
    position: fixed;
    width: fit-content;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
}

.burger-icon{
    position: fixed;
    left: 1rem;
    top: 1rem;
    cursor: pointer;
    font-size: 6vh;
    color: black;
    z-index: 3;
    transition: color 0.1s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.menu-wrapper:has(.sidebar:hover) .burger-icon, .burger-icon:hover{
    color: rgb(90, 212, 125);
    font-size: 3vh;
    transition: color 0.1s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.sidebar{
    position: relative;
    left: -100%;
    width: 100%;
    height: 70%;
    min-width: 20vw;
    background-image: url(./assets/mainMenu.jpg);
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    border-style: solid;
    border-width: 0.7vh;
    border-color: rgb(54, 54, 54);
    border-radius: 0.7vh;
    padding: 20vh 1vh;
    transition: 0.2s ease-in-out all;
}

.burger-icon:hover + .sidebar, 
.sidebar:hover{
    left: 0;
    transition: 0.3s ease-in-out all;
    box-shadow: 0 0 100px 0 rgb(44, 47, 51);
}

.sidebar a{
    top: 20vh;
    font-size: 4.4vh;
    font-weight: bold;
    display: block;
    text-decoration: none;
    color: rgb(94, 94, 94);
    -webkit-text-stroke-width: 0.1vh;
    -webkit-text-stroke-color: black;
    opacity: 1;
    transition: opacity 0.1s ease-in-out;
    transition: all 0.1s ease-out;
}

.sidebar a:hover{
    opacity: 1;
    color: yellow;
    cursor: pointer;
    -webkit-text-stroke-width: 0.2vh;
    -webkit-text-stroke-color: black;
    transform: translateX(0.5rem, 0.5rem);
    font-size: 5.7vh;
}




.page{
    width: 100vw;
    height: 100vh;
    /*border: 0.3rem solid black;*/
    overflow: hidden;
    display: grid; /* grid layout */
    place-items: center;
    position:fixed; /* position fixed - klassen "show" viser pages */
    left:-100vw;
    transition: 1s ease-in-out all;
}

.show{
    left: 0;
}

.page div{ /* all div's inside pages are treated as full wide grids */
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}


input[type='checkbox'] ,label{
    display: inline;
}


/*PAGE 1*/

#page1{
    background-image: url(./assets/TerrariaForestBiome.jpg);
    background-size: cover;
    background-position: center;
    grid-template-rows: 1fr 2fr;
}
#page1 .top{
    background-image: url(./assets/Terraria-Logo-2011.png);
    background-size: 100vh;
    background-repeat: no-repeat;   
    background-position: center;
}
#page1 .bottom{
    grid-template-columns: 3fr 5fr;
}
#page1 .left .box{ /*INDHOLDSLISTE*/
    grid-template-rows: 1fr 7fr;
    max-width: auto;
    height: 48vh;
    color: rgb(243, 243, 243);
    background-color: rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-width: 0.7vh;
    border-color: rgb(0, 0, 0);
    border-radius: 1.5vh;
    padding: 1.5vh;
}
#page1 .right .box{ /* OM TERRARIA*/
    grid-template-rows: 1fr 7fr;
    max-width: auto;
    height: 57vh;
    color: rgb(243, 243, 243);
    background-color: rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-width: 0.7vh;
    border-color: rgb(0, 0, 0);
    border-radius: 1.5vh;
    padding: 1.5vh;
}
.box .boxTop{
    background-color: rgba(18, 101, 21, 0.3);
    border-radius: 1rem;
    font-size: 6vh;
}
.box .boxBottom{
    background-color: rgba(rgba(13, 82, 28,));
    border-radius: 1rem;
    font-size: 2.55vh;
}


/*PAGE 2*/
#page2{
    grid-template-rows: 1fr 5fr;
    background-image: url(./assets/TerrariaIllustration.png);
    background-size: cover;
    background-position: center;
}

#page3{
    overflow-y: scroll;
    background-image: url(./assets/Terraria\ overworld.jpg);
    background-size: cover;
}
#page3 .boxTitel{
    max-width: 50vw;
    height: fit-content;
    font-size: 4vh;
    color: rgb(243, 243, 243);
    background-color: rgba(6, 72, 26, 0.8);
    border-color: black;
    border-style: solid;
    border-width: 0.5vh;
    border-radius: 1.5vh;
    padding: 1rem;
}
#page3 .box .top{
    font-size: 3.5vh;
}
#page3 .box .bottom{
    font-size: 2.5vh;
}

#page4{
    background-image: url(./assets/biograf.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
#page4 video{
    width: 85rem;
    transform: translate(3rem, -3rem)
}
#page4 button{
    background-color: rgb(0, 71, 14);
    color: white;
    font-size: 3vh;
    text-align: center;
    border-style: solid;
    border-width: 0.5vh;
    border-color: rgb(0, 0, 0);
    border-radius: 0.4vh;
    transform: translateY(-5rem);
}


.scroll{
    min-height:100%;    
    overflow:scroll;
    padding: 1.5rem;
    gap: 1rem;
}

.box{
    color: rgb(243, 243, 243);
    max-width:30vw;
    height: auto;
    grid-template-rows: 1fr 7fr;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 1.5vh;
    padding: 2.5vh;
}
.box .top{
    background-color: black;
    border-radius: 1vh;
    font-size:2rem;
}
.box .bottom{
    background-color: rgba(rgb(0, 0, 0, 1));
    border-radius: 1rem;
    font-size:1.9rem;
}
.parallax{
    min-height: 100vh;
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    color: rgb(239, 239, 239);
}
.background1{
    background-image: url(./assets/TerrariaForestBiome.jpg);
}
.background2{
    background-image: url(./assets/evil\ biomes.jpg);
}
.background3{
    background-image: url(./assets/TerraiaMoonlord2.jpg);
}
.background4{
    background-image: url(./assets/lunatic\ cultists.png);
}
.bottomText{
    background-image: url(./assets/Terraria\ overworld.jpg);
    font-size: 10vh;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 0.3vh;
    -webkit-text-stroke-color: black;
}